body {
    font-family: sans-serif;
    background-color: #fff8dc;
}

.date {
    text-align: center;
    font-size: 4vw;
    padding-top: 1em;
}

.col-quarter {
    width: 25%;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

.count {
    font-size: 20vw;
}

.unit {
    font-size: 4vw;
    clear: both;
}

.header {
    font-size: 3vw;
}

.event {
    font-size: 6vw;
}

.lg {
    font-size: 18vw;
}

.md {
    font-size: 16vw;
}

.sm {
    font-size: 14vw;
}

.xs {
    font-size: 12vw;
}