body {
    font-family: sans-serif;
}

.date {
    text-align: center;
    font-size: 4vw;
    padding-top: 4em;
}

.col-quarter {
    width: 25%;
    float: left;
    text-align: center;
}

.count {
    font-size: 20vw;
}

.unit {
    font-size: 4vw;
}

.header {
    font-size: 3vw;
}

.event {
    font-size: 6vw;
}